*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #0c4b9c;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 10px 0;
    z-index: 9999;
    position: fixed;
}
.header-wraper{
    display: flex;
    padding: 0 10px;
    justify-content:space-between;
    align-items: center;  
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.right-wrap{
    display: flex;
}
.phone{
    padding: 0 15px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

}
.tess{
    position: relative;
}
.tess::before{

    position: absolute;
    left: 0;
    transform: translateY(0%);
    background: rgba(229,229,229,.5);
    width: 1px;
    height: 20px;
    content: '';
}

.phone ion-icon::before{
    all:unset;
}
ion-icon{
    padding-right: 5px;
    transform: translateY(10%);
    font-weight: 500;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0 10px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-weight: 700;
}
a{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: white;
}